{
  "root": true,
  "env": {
    "es2020": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended"
  ],
  "globals": {
    "logger": "readonly",
    "process": "readonly"
  }
}