@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url("Inter-Bold.woff2") format("woff2"),
    url("Inter-Bold.woff") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url("Inter-Regular.woff2") format("woff2"),
    url("Inter-Regular.woff") format("woff");
}